body {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
    179.4deg,
    rgb(253, 240, 233) 2.2%,
    rgb(255, 194, 203) 96.2%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(92, 87, 87);
}

h1 {
  margin-top: 30px;
}

.info-paragraph {
  text-align: justify;
}

.croissant-photo {
  display: block;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
  margin: 20px auto;
  width: 400px;
  border-radius: 8px;
}

.contact-info {
  margin-top: 30px;
}

.navigation-links {
  padding: 10px;
}
